name: flirtr
description: A cross platform mobile app that provides online dating services to its users, it is primarily interested in allowing its users the freedom to fully express themselve, it is concerned about what makes users connect more with others rather than what makes them more desirable to others. its goal is to form a platfor where users can find a patner or a lifetime friend with whom he&#x2F;she connects with on a soul level.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  animator: ^1.0.0+1
  flare_flutter: ^1.5.5
  states_rebuilder: ^1.3.2
  font_awesome_flutter: ^8.5.0
  carousel_slider: ^1.3.1
  photo_view: ^0.5.0
  video_player: ^0.10.2+1
  kf_drawer: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  fonts:
    - family:  AppBarIcons
      fonts:
        - asset: fonts/AppBarIcons.ttf
    - family: Dosis
      fonts:
        - asset: fonts/Dosis-ExtraLight.ttf
          weight: 100
        - asset: fonts/Dosis-Light.ttf
          weight: 200
        - asset: fonts/Dosis-Regular.ttf
          weight: 300
        - asset: fonts/Dosis-Medium.ttf
          weight: 500
        - asset: fonts/Dosis-SemiBold.ttf
          weight: 600
    - family: Lato
      fonts:
        - asset: fonts/Lato-Bold.ttf
          weight: 700
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - images/jolieThrone/
    - images/nailah_Kolii/
    - videos/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
